
<form [formGroup]='form' (ngSubmit)='onSubmit()'>
	<div class="form-group">
		<input type="email" [class.is-invalid]='form.get("email")?.invalid && form.get("email")?.touched' class="form-control" formControlName='email' placeholder="Your Email" value="" />
	</div>
	<div class="form-group mt-3">
		<input type="password" [class.is-invalid]='form.get("password")?.invalid && form.get("password")?.touched'  class="form-control" formControlName='password' placeholder="Your Password" value="" />
	</div>
	<div class="form-group mt-3">
		<input type="password" [class.is-invalid]='form.get("passwordConfirm")?.invalid && form.get("passwordConfirm")?.touched' class="form-control" formControlName='passwordConfirm' placeholder="Confirm Your Password" value="" />
	</div>
	<div class="form-group mt-3">
		<input class="btn btn-primary btnSubmit" type="submit" value="Submit" [disabled]='form.invalid' />
	</div>
</form>
