

<div class='graph-header text-secondary text-end rounded px-3 d-flex justify-content-end align-items-center' >
  <i class="graph-icons fas fa-chart-bar me-2"></i>
  <a class='graph-toggle text-primary' href='#' (click)='$event.preventDefault(); switchGraph()'>
    <i [class.toggle-off]='currentGraphIndex' class="fas fa-toggle-on"></i>
  </a>
  <i class="graph-icons fas fa-chart-line ms-2"></i>
</div>

<div class='grid-area d-grid' style='height: 500px'>
  <ng-container [ngSwitch]='graphsObject[currentGraphIndex].type'>

    <ng-container *ngSwitchCase='graphTypes.BAR'>
      <ngx-charts-bar-vertical-2d
        [results]="(graphsObject[currentGraphIndex].data$ | async)"
        [legendTitle]="graphsObject[currentGraphIndex].options.legendTitle"
        [scheme]="graphsObject[currentGraphIndex].options.colorScheme"
        [gradient]="graphsObject[currentGraphIndex].options.gradient"
        [xAxis]="graphsObject[currentGraphIndex].options.showXAxis"
        [yAxis]="graphsObject[currentGraphIndex].options.showYAxis"
        [legend]="graphsObject[currentGraphIndex].options.showLegend"
        [showXAxisLabel]="graphsObject[currentGraphIndex].options.showXAxisLabel"
        [showYAxisLabel]="graphsObject[currentGraphIndex].options.showYAxisLabel"
        [xAxisLabel]="graphsObject[currentGraphIndex].options.xAxisLabel"
        [yAxisLabel]="graphsObject[currentGraphIndex].options.yAxisLabel"
      ></ngx-charts-bar-vertical-2d>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <ngx-charts-line-chart
        [results]="(graphsObject[currentGraphIndex].data$ | async)"
        [scheme]="graphsObject[currentGraphIndex].options.colorScheme"
        [legend]="graphsObject[currentGraphIndex].options.legend"
        [showXAxisLabel]="graphsObject[currentGraphIndex].options.showXAxisLabel"
        [showYAxisLabel]="graphsObject[currentGraphIndex].options.showYAxisLabel"
        [xAxis]="graphsObject[currentGraphIndex].options.xAxis"
        [yAxis]="graphsObject[currentGraphIndex].options.yAxis"
        [xAxisLabel]="graphsObject[currentGraphIndex].options.xAxisLabel"
        [yAxisLabel]="graphsObject[currentGraphIndex].options.yAxisLabel"
        [timeline]="graphsObject[currentGraphIndex].options.timeline"
      ></ngx-charts-line-chart>

    </ng-container>
  </ng-container> 
</div>
<div class='mt-3 text-secondary'>
  <h2>Lorem ipsum</h2>
  <p>Ullamco elit quis in qui mollit. Voluptate anim incididunt adipisicing Lorem et ad occaecat mollit nisi. Cillum nostrud eu sit sint aute enim. Excepteur excepteur voluptate occaecat et aute cupidatat labore sit. Tempor occaecat exercitation reprehenderit et labore cupidatat ipsum mollit minim sint et eiusmod nulla sint. Mollit incididunt ipsum Lorem fugiat labore esse voluptate exercitation voluptate labore incididunt.</p>

  <p>Voluptate proident incididunt id irure id incididunt laboris consequat enim in deserunt. Pariatur sint sint fugiat ea elit incididunt incididunt et labore ipsum enim consectetur ad magna. In cillum enim enim esse labore commodo ad culpa in veniam cupidatat occaecat. Irure ex ex mollit velit consequat. Incididunt excepteur pariatur cillum consectetur dolore aliqua do laboris do. Laboris excepteur aute nisi amet non nostrud mollit. Enim quis eiusmod occaecat nisi ex excepteur consectetur sit esse tempor labore ex.</p>

  <p>Dolor culpa nisi mollit duis ad et dolore sint consequat cupidatat consequat. Dolore consectetur reprehenderit ut irure. Anim officia fugiat excepteur nisi exercitation aliquip qui ullamco anim enim aute sunt culpa.</p>
</div>