<div class="card shadow m-auto rounded" style="max-width: 20rem;">
  <div class="card-body bg-primary d-flex align-items-center justify-content-center py-3" style='height: 7rem'>
    <div class='text-white text-center h3'>
      <i class="far fa-building me-1"></i>
      The Company
    </div>
  </div>
  <div class="card-body py-4">
    <h3 class="card-title text-secondary mb-4">Register</h3>
    <app-register></app-register>
  </div>
  <div class="card-footer py-4">
    <div class='card-text text-secondary'>
      <small>
        Click <a routerLink='/login'>here</a> to return to the login page
      </small>
    </div>
  </div>
</div>