<form [formGroup]='form' (ngSubmit)='onSubmit()'>
	<div class="form-group">
		<input type="email" [class.is-invalid]='form.get("email")?.invalid && form.get("email")?.touched' class="form-control" formControlName='email' placeholder="Your Email" value="" />
	</div>
	<div class="form-group mt-3">
		<input type="password" [class.is-invalid]='form.get("password")?.invalid && form.get("password")?.touched'  class="form-control" formControlName='password' placeholder="Your Password" value="" />
	</div>
  <div class="form-group mt-3">
    <input type="submit" class="btn btn-primary btn-company btnSubmit" value="Login" />
  </div>
</form>
